$nette-popup-on-speed:                  200ms !default;
$nette-popup-out-speed:                 200ms !default;

$nette-popup-on-bezier:                 cubic-bezier(0.4, 0, 1, 1) !default;
$nette-popup-out-bezier:                cubic-bezier(0.4, 0, 1, 1) !default;

$nette-popup-backdrop-bg:               rgba($black, 0.5) !default;
$nette-popup-inner-bg:                  $white !default;

$nette-popup-inner-max-width:           600px !default;
$nette-popup-inner-margin:              50px 0 !default;
$nette-popup-inner-padding:             40px !default;

$nette-popup-close-width:               33px !default;
$nette-popup-close-height:              33px !default;
$nette-popup-close-top:                 20px !default;
$nette-popup-close-right:               20px !default;
$nette-popup-close-fill:                $black !default;
$nette-popup-close-fill-hover:          $black !default;
$nette-popup-close-fill-opacity:        0.38 !default;
$nette-popup-close-fill-opacity-hover:  1 !default;

$nette-popup-z-wrap:                    1000 !default;
$nette-popup-z-inner:                   1100 !default;
$nette-popup-z-backdrop:                1050 !default;
$nette-popup-z-backdrop-after:          1060 !default;
$nette-popup-z-close:                   1200 !default;

$nette-popup-structure: (
    default,
    content-styles,
) !default;


@if index($nette-popup-structure, default) {
    @keyframes nette-popup-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .nette-popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $nette-popup-z-wrap;
        display: none;
        width: 100%;
        height: 100%;
        font-size: 0;
        text-align: center;
        background-color: $nette-popup-backdrop-bg;
        &:before {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
        &--on {
            display: block;
            opacity: 0;
            overflow-y: auto;
            animation: nette-popup-in $nette-popup-on-speed $nette-popup-on-bezier 0s 1 forwards;
        }
        &__inner {
            position: relative;
            z-index: $nette-popup-z-inner;
            display: inline-block;
            width: 100%;
            max-width: $nette-popup-inner-max-width;
            margin: $nette-popup-inner-margin;
            padding: $nette-popup-inner-padding;
            vertical-align: middle;
            font-size: rem(16);
            text-align: left;
            background-color: $nette-popup-inner-bg;
            @if index($nette-popup-structure, content-styles) {
                h3 {
                    margin-bottom: 20px;
                    font-size: rem(26);
                    font-weight: 700;
                    line-height: 1;
                    color: $black;
                }
                p {
                    margin-bottom: 20px;
                    font-size: rem(16);
                    line-height: 1.65;
                }
            }
        }
        &__backdrop {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: $nette-popup-z-backdrop;
            &:after {
                position: fixed;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                z-index: $nette-popup-z-backdrop-after;
                content: "";
            }
        }
        &__close {
            position: absolute;
            top: $nette-popup-close-top;
            right: $nette-popup-close-right;
            z-index: $nette-popup-z-close;
            display: block;
            width: $nette-popup-close-width;
            height: $nette-popup-close-height;
            svg {
                display: block;
                fill: $nette-popup-close-fill;
                fill-opacity: $nette-popup-close-fill-opacity;
            }
            &:hover {
                svg {
                    fill: $nette-popup-close-fill-hover;
                    fill-opacity: $nette-popup-close-fill-opacity-hover;
                }
            }
        }
    }
    body {
        &.nette-popup--shown {
            overflow: hidden;
        }
    }
}
