<div n:if="$popupShow">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

            {_'popup-modal-content'}

            {form form}
                {input send}
            {/form}
        </div>
    </div>
</div>
